/* Estilos generales */
* {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 127, 127);
    border-radius: 4px;
    
}

/* Estilo aplicado a p para pruebas */
p{
    background-color: #ffd000;

    border: 3px solid red;

    margin: 50px;
    padding: 20px;

}

