/* Estilos para selectores de tipo etiqueta */

p {
    font-size: 16px;
    color: #333;
    background-color: #dec839;
    margin: 10px 0;
}

/* Prueba 1: Cambiar ol por li en html*/
ol {
    font-size: 18px;
    color: #444;
    background-color: #af6e6e;
    margin: 10px 0;
}

/* si activo la siguiente regla, se aprecia cómo es distinto seleccionar ol que li */
/* li{
    background-color: blue;
} */

/* Estilos para selectores de tipo clase */

.normal {
    color:red;
    font-style: normal;
    margin: 10px 0;
}

.cita {
    font-style: italic;
    color: #0066cc;
    margin: 10px 0;
}

/* Estilos para selectores de tipo ID */

#introduccion1 {
    background-color: #ccffcc;
    margin: 10px 0;
}

#conclusion2 {
    background-color: #ffcccc;
    margin: 10px 0;
}

em{
    background-color: yellow;
}
/* Analizar el aspecto de los párrafos finales*/